body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #dcdcdc; 
    color: #404040; 
    margin: 15pt; 
    padding: 0;
}

h1 {
    font-size: 24pt; 
    color: #0066cc; 
}

h2 {
    font-size: 20pt; 
    color: #0099ff; 
}

h3 {
    font-size: 18pt; 
    color: #00bfff; 
}

p {
    font-size: 14pt; 
    color: #333; 
}

a:link, a:visited {
    color: #006600;
    text-decoration: none; 
}

a:hover {
    color: #cc0000; 
    text-decoration: underline; 
}

a:active {
    color: #990000; 
    text-decoration: underline; 
}


.table-container {
    display: table;
    width: 100%;
}

.row {
    display: table-row;
}

.column {
    display: table-cell;
    padding: 10pt;
}

.link-cell {
    width: 20%;
}

.description-cell {
    width: 80%;
}